<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulário Veículos</title>
</head>

<body>
    <h1>Form Veiculo</h1>

    <form action="/veiculos/cadastro" method="get">

        <div>
            <label for="modelo">Modelo</label>
            <input name="modelo" type="text" id="modelo" />
        </div>
        <div>
            <label for="placa">Placa</label>
            <input name="placa" type="text" id="placa" minlength="7" maxlength="8">
        </div>
        <div>
            <label for="cor">Cor</label>
            <input name="cor" type="text" id="cor">
        </div>
        <div>
            <label for="ano">Ano</label>
            <input name="ano" type="number" id="ano" min="1886" max="2100" />
        </div>

        <input type="submit" value="Cadastrar">

    </form>
</body>

</html>